<%= javascript_pack_tag 'vue_grid' %>

<div id="container">
  <h3 class="ml-3">Problem List</h3>
  <%= render :partial => 'shared/vue_grid', :locals => {
      :form_partial => 'problem_form_fields',
      :data => {
          viewUrl: problem_path(-1),
          getDataUrl: "#{v1_problems_path}?user_id=#{current_user.id}",
          resourceUrl: v1_problem_path(-1),
          userId: current_user.id,
          columns: ['language_id', 'text','solution','setup','function_name', 'actions'],
          authToken: "#{@api_token}"
      }.to_json
  }%>
</div>